@{
  Layout = "_Layout";
}

@using SweetAndSavoryTreats.Models;

<div class="container-fluid">
  <div class="d-flex justify-content-center"> 
    <h1 id="title" style="font-size:10vw">Sweet & Savory Treats</h1>
  </div>
  <h5>Welcome to Pierre's Sweet & Savory Treats! The place where you can view all of Pierre's treats and flavors! Create an account below if you would like to contribute a treat and flavor to Pierre's growing list!</h5>

  <p>@Html.ActionLink("Create an account", "Index", "Account",  null, new { id = "OT",style = "color: rgb(236, 54, 197);" })</p>

  <div class="row row-cols-2 row-cols-md-2 g-4">
    @foreach (Treat treat in Model)
    {
      <div class="col">
        <div class="card">
          <div class="card-header">@Html.ActionLink($"{treat.TreatName}", "Details", "Treats", new { id = treat.TreatId })</div>
            <div class="card-body text-success">
              <h5 class="card-title">Ingredients</h5>
              <p class="card-text">
                @treat.Ingredients
              </p>
            </div>
          <div class="card-footer">
            <p>
              @foreach(var join in treat.JoinEntities)
              {
                @Html.ActionLink($"{join.Flavor.FlavorName}  ", "Details", "Flavors", new { id = join.Flavor.FlavorId })<text>&nbsp;&nbsp;&nbsp;</text> 
              } 
            </p>  
          </div>
        </div>
      </div>
    }
  </div> 
</div>